.accessories-page{
  &__container {
    padding: 24px 152px;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__title {
    font-size: 32px;
    font-weight: bold;
    line-height: 41px;
    letter-spacing: -0.01em;
    color: #313237;
    margin-top: 40px;
  }

  &__amount {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    margin: 8px 0 40px;
    color: #89939a;
  }
}
